<h1>Login Page</h1>
<div class="errorDiv">The username/password combination was not found.  Please try again.</div>
<form action="/login" method="POST" id="login-form" class="loginForm">
    <label for="username">
        Username:
        <input type="text" name="username" id="username" class="username" placeholder="Please input your username...">
    </label>
    <label for="password">
        Password:
        <input type="password" name="password" id="password" class="password" placeholder="Please input your password...">
    </label>
    <button class="loginSubmit" type="submit">Login</button>
</form>